/* =========================
   HERO
========================= */

.hero {
  position: relative;

  min-height: 100vh;
  min-height: 100svh;

  display: flex;
  align-items: center;

  padding: 120px 8% 70px;

  background:
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.58) 0%,
      rgba(0, 0, 0, 0.18) 55%,
      rgba(0, 0, 0, 0.45) 100%
    ),
    url("images/DSC03053.jpeg");

  background-size: cover;
  background-position: center;
}

.hero-content {
  width: 100%;
  max-width: 620px;
}

.hero-label {
  margin-bottom: 24px;

  font-size: 12px;
  font-weight: 500;
  letter-spacing: 7px;

  color: rgba(255,255,255,0.9);
}

.hero h2 {
  margin: 0 0 25px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(65px, 7vw, 105px);
  font-weight: 700;
  line-height: 0.88;
  letter-spacing: -4px;

  color: white;
}

.hero-description {
  max-width: 450px;

  margin-bottom: 35px;

  font-size: 18px;
  line-height: 1.5;

  color: rgba(255,255,255,0.82);
}

.hero-button {
  width: 235px;
  height: 66px;

  padding: 0 28px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: white;
  color: #111;

  text-decoration: none;
  font-size: 16px;

  transition:
    transform 0.25s ease,
    background 0.25s ease;
}

.hero-button:hover {
  transform: translateY(-3px);
  background: #ededed;
}

.arrow {
  font-size: 25px;
  font-weight: 300;
}

.scroll-down {
  position: absolute;

  bottom: 25px;
  left: 50%;

  transform: translateX(-50%);

  color: white;
  text-decoration: none;

  font-size: 28px;
  font-weight: 200;

  opacity: 0.8;
}


/* =========================
   HERO — MOBILE
========================= */

@media (max-width: 768px) {

  .hero {
    align-items: center;

    padding:
      120px
      7%
      70px;

    background-position: 52% center;
  }

  .hero-content {
    max-width: 100%;
  }

  .hero-label {
    font-size: 10px;
    letter-spacing: 5px;
    margin-bottom: 20px;
  }

  .hero h2 {
    font-size: clamp(54px, 16vw, 75px);
    letter-spacing: -3px;
    line-height: 0.9;
  }

  .hero-description {
    max-width: 330px;

    font-size: 15px;
  }

  .hero-button {
    width: 210px;
    height: 60px;

    font-size: 15px;
  }

}
